; *************************************************************
; *** Scatter-Loading Description File for ATK-F407 project ***
; *** SRAM1 (128KB) + CCM (64KB)                           ***
; *************************************************************

LR_IROM1 0x08000000 0x00100000  {    ; Flash 1MB
  ER_IROM1 0x08000000 0x00100000  {  ; RO: code + const
   *.o (RESET, +First)
   *(InRoot$$Sections)
   .ANY (+RO)
  }
  RW_IRAM1 0x20000000 0x00020000  {  ; SRAM1 128KB: primary RW/ZI
   .ANY (+RW +ZI)
  }
  RW_IRAM2 0x10000000 0x00010000  {  ; CCM 64KB: overflow RW/ZI
   .ANY (+RW +ZI)
  }
}
